beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
Faker==26.0.0
feedfinder2==0.0.4
feedparser==6.0.11
idna==3.7
jieba3k==0.35.1
lxml>=4.9.3,<5.0.0
nest-asyncio==1.6.0
newspaper3k==0.2.8
nltk==3.8.1
numpy==2.0.0
Pillow==10.4.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
PyYAML==6.0.1
random-string-detector==1.1.1
requests==2.32.3
sgmllib3k==1.0.0
soupsieve==2.5
tldextract==5.1.2
urllib3==2.2.2
yarl==1.9.4
google-generativeai==0.7.2
