@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  margin: 0;
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

#map {
  height: 400px;
}

.container{
  top: 20px;
  width: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

#searchContainer {
  height: 60px;
  width: 600px;
  left: 50%;
  transform: translate(-50%, 0%);
  position: relative;
  display: inline-block;
}

.searchQuery {
  height: 100%;
  width: 500px;
  font-size: 16px;
  padding: 10px;
  border: 3px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #3b3b3b;
  display:inline-block;
  float:left;
}

.searchQuery:focus{
  color: black;
}

.searchButton {
  height: 100%;
  width: 90px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  float:left;
}

.date {
  display: inline-block;
  padding-right: 5px;
}

#searchResults {
  font-family: Helvetica;
  overflow-y: auto;
  height: 400px;
}

#searchResults ul {
  font-weight: bold;
  padding-bottom: 5px;
}

#searchResults li {
  font-weight: normal;
  padding-bottom: 5px;
}

input[type=text] {
  padding: 4px;
}