body{
  margin: 0;
  background: #f2f2f2;
  font-family: 'Helvetica', sans-serif;
}

* {
  box-sizing: border-box;
}

.container{
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#map {
  height: 550px;
}

#searchContainer {
  height: 5vh;
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.searchQuery {
  height: 100%;
  width: 500px;
  font-size: 16px;
  padding: 10px;
  border: 3px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #3b3b3b;
  display:inline-block;
  float:left;
}

.searchQuery:focus{
  color: black;
}

.searchButton {
  height: 100%;
  width: 90px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  float:left;
}

.date {
  display: inline-block;
  padding-right: 5px;
  width: 150px;
}

#daterangeContainer {
  height:100%;
  float:right;
  margin-left: 40px;
}

#daterangeInput {
  height: 100%;
  margin-left: 10px;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 5px;
}

#searchResults {
  font-family: Helvetica;
}

#searchResults ul {
  font-weight: bold;
  padding-bottom: 5px;
}

#searchResults .iso {
  display: inline-block;
  padding-bottom: 5px;
}

#searchResults li {
  font-weight: normal;
  padding-bottom: 5px;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

input[type=text] {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
}