@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
  margin: 0;
  background: #f2f2f2;
  font-family: 'Inconsolata';
}

* {
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  padding:20px;
}

#searchContainer {
  height: 50px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#mapContainer {
  padding-top: 20px;
  overflow: hidden;
  height: calc(50% - 25px);
}

#map {
  height: 100%;
  margin: 0 auto;
  position: relative; /* Keep for positioning of tooltips */
  padding-bottom: 0px !important;
}

#searchResults {
  height: calc(50% - 25px);
  overflow-y: auto;
  position: relative;
  padding-top: 20px;
}

#queryContainer {
  height: 100%;
  display: inline-block;
}

#queryContainer .searchQuery {
  height: 100%;
  width: 75%;
  font-size: 16px;
  padding: 10px;
  border: 3px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #3b3b3b;
  float: left;
}

#queryContainer .searchQuery:focus{
  color: black;
}

#queryContainer .searchButton {
  height: 100%;
  width: 25%;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
  float:left;
}

#daterangeContainer {
  height:100%;
  display: flex;
  justify-content: flex-end;
  line-height: 48px;
}

#daterangeContainer .label {
  padding-right: 10px;
}

#daterangeContainer #daterangeInput {
  height: 100%;
  font-size: 15px;
  border: 3px solid black;
  border-radius: 5px;
  padding:10px;
}

.hoverinfo {
    padding: 10px;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.hoverinfo ul {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 20px;
    list-style-type: disc;
}

#searchResults ul {
  font-size: 15px;
  padding-bottom: 5px;
  padding-inline-start: 0;
  transition: background-color .5s ease-out; /* Smooth transition for background color */
}

#searchResults .iso {
  font-size: 16px;
  display: inline-block;
  padding-bottom: 5px;
  font-weight: bold;
}

#searchResults .date {
  display: inline-block;
  padding-right: 15px;
}

#searchResults .toggle {
  display: inline-block;
  cursor: pointer;
  padding-left: 5px;
}

#searchResults li {
  font-weight: normal;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 6px;
  border-left: 2px solid #8b94dd;
}

#searchResults li:last-child {
  padding-bottom: 0;
}

#searchResults .collapse {
  display: none;
}

#searchResults a {
  text-decoration: none;
}

input[type=text] {
  padding: 4px;
}

@media (pointer:coarse) {
    #searchResults li {
      overflow: visible;
    }

    #searchResults ul {
      overflow-x: scroll;
   }
}

.loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#searchResults .highlight {
  background-color: #abbdcf; /* The color it will flash to */
}


