bertopic==0.16.2
psycopg[binary]>=3.1.0
python-dotenv==1.0.1
numpy==1.26.4
pgvector>=0.2.4

# BERTopic has specific dependencies that need to be compatible
scikit-learn==1.5.1
umap-learn==0.5.6
hdbscan==0.8.33

google-generativeai==0.7.2
pydantic==2.8.2
vercel-blob==0.4.2